html {
  background: #fcf9f3;
}

body {
  margin: 0;
  color: #455358;
  height: 100%;
  white-space: pre-wrap;
  line-height: 1rem;
  min-height: 100vh;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2cc9cc), to(#20e4a4));
  background-image: linear-gradient(180deg, #2cc9cc, #20e4a4);
}

h1 {
  line-height: 2.2rem;
  margin: 0 0 2rem 0;
  color: #fcf9f3;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 3rem;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 30px 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1rem;
  font-family: arial;
}

.container .container__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container textarea {
  margin: 10px 0;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  border: 0;
  padding: 15px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(125, 125, 125, 0.3);
  font-size: 1.25rem;
  resize: vertical;
  background: #fcf9f3;
}

.container textarea:last-of-type {
  margin-bottom: 20px;
}

.container textarea:first-of-type {
  margin-top: 20px;
}

.container table {
  font-size: 1rem;
  width: 100%;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-collapse: collapse;
  margin-top: 30px;
  background: #fcf9f3;
  border: 1px solid rgba(125, 125, 125, 0.3);
  padding: 20px 0;
}

.container table tr {
  border-bottom: 1px solid rgba(125, 125, 125, 0.3);
  margin: 10px 0;
}

.container table .tablehead {
  height: 50px;
  font-weight: 700;
}

.container table td {
  padding: 10px;
  text-align: left;
  border-right: 1px solid rgba(125, 125, 125, 0.3);
  height: 100%;
  width: 50%;
}

.container table td:last-of-type {
  width: 70px;
  text-align: center;
}

.container table p {
  padding-left: 10px;
}

.container table .table__button {
  width: 30px;
  height: 30px;
}

.card {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.card p {
  color: #455358;
  min-height: 400px;
  max-width: 400px;
  min-width: 250px;
  text-align: left;
  border: 1px solid rgba(125, 125, 125, 0.3);
  padding: 30px 20px;
  font-size: 1rem;
  line-height: 1.5rem;
  background: #fcf9f3;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.card .front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card .card_back {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card .card_front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card__info {
  margin: 20px 0;
  color: #fcf9f3;
  font-size: 1.25rem;
}

button {
  text-transform: uppercase;
  color: #fcf9f3;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  background-color: #37b3e5;
  border: 1px solid rgba(125, 125, 125, 0.3);
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  margin: 10px;
  height: 40px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

button:hover {
  -webkit-filter: brightness(95%);
          filter: brightness(95%);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

button:focus, button:focus {
  outline: none;
}

.active {
  background-color: #20e4a4;
}

td {
  padding: 0 10px;
  text-align: center;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 400px) {
  .container textarea {
    width: 260px;
  }
  button {
    width: 125px;
    margin: 5px;
  }
}
/*# sourceMappingURL=style.css.map */